<h1>ForumThreads#index</h1>

<%= link_to "New threads +", new_forum_thread_path %>

<hr>

<%= search_form_for @q, html: { class: "form-inline" } do |f| %>
  <%= f.search_field :subject_or_forum_posts_body_cont, class: "form-control", placeholder: "Search..." %>
<% end %>

<hr>

<div>
  <% @forum_threads.each do |f| %>
    <%= link_to forum_thread_path(f) do %>
      <%= f.subject %><br>
    <% end %>
  <% end %>
</div>
